extends template

block content
    h1 This is a list of users!
    section.users 
    ul
        each language in data
            li
                h1= language.name
                p= language.description